<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<body>
<div class="container" layout:fragment="content" style="display: contents">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Направление</th>
            <th scope="col">Профиль</th>
            <th scope="col">Квалификация</th>
            <th scope="col">Год</th>
            <th scope="col">Формы обучения</th>
            <th scope="col">Документы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genDto : ${genDtos}">
            <td th:text="${genDto.specialty}"></td>
            <td th:text="${genDto.profile}"></td>
            <td th:text="${genDto.qualification}"></td>
            <td th:text="${genDto.startYear}"></td>
            <td th:text="${genDto.forms}"></td>
            <td>
                <a th:href="@{|/download/gen?uuid=${genDto.docUuid}|}"
                   th:download="${genDto.specialty}+' '+${genDto.startYear}+'.zip'"
                   th:text="${genDto.specialty}+' '+${genDto.startYear}+'.zip'" >
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
