<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<body>
<div class="container" layout:fragment="content" style="display: contents">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Код</th>
            <th scope="col">Направление</th>
            <th scope="col">Уровень образования</th>
            <th scope="col">Образовательная программа</th>
            <th scope="col">Формы обучения</th>
            <th scope="col">Учебный план</th>
            <th scope="col">РПД</th>
            <th scope="col">ФОС</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">09.03.04</th>
            <td>Программная инженерия</td>
            <td>Высшее образование - бакалавриат</td>
            <td>Программная инженерия 2023 год</td>
            <td>Очная</td>
            <td><a href="">Файл.docx</a></td>
            <td><a href="">Файл.docx</a></td>
            <td><a href="">Файл.docx</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
