<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{default}">
<body>
<div class="container" layout:fragment="content" style="display: contents">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Документы</th>
            <th scope="col">Дата</th>
            <th scope="col" style="text-align: center">Результат</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insDto : ${insDtos}">
            <td><a th:href="@{|/download/ins?uuid=${insDto.docUuid}|}" th:text="${insDto.filename}" th:download="${insDto.filename}" ></a></td>
            <td th:text="${#temporals.format(insDto.creationDate, 'dd MMM yyyy в HH:mm')}"></td>
            <td>
                <div id="main" class="col justify-content-center" style="text-align: -webkit-center;">
                    <div class="col-sm-6" style="margin-block: 10px;">
                        <h4 th:if="${insDto.isValid==false}">Ошибки валидации</h4>
                        <h4 th:unless="${insDto.isValid==false}">Ошибки в документах</h4>
                        <h4 th:if="${insDto.isOk==true}">В документах отсутствуют ошибки</h4>
                    </div>
                        <div th:if="${insDto.isOk==false && insDto.isValid==false}" class="btn-group-vertical">
                            <div th:if="${insDto.characteristicsFound==false}" class="btn-group col-sm-6">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">Характеристика не найдена
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" href="#">Не найден документ 'Характеристика ОПОП'</a></li>
                                </ul>
                            </div>

                            <div th:if="${insDto.characteristicsInRightExtension==false && insDto.characteristicsFound==true}" class="btn-group col-sm-6">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">Формат характеристики
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" href="#">Характеристика должна быть в формате docx</a></li>
                                </ul>
                            </div>

                            <div th:if="${insDto.fosPackageFound==false}" class="btn-group col-sm-6">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">Не найдена директория с документами ФОС
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" href="#">Не найдена директория с документами ФОС, директория должна называться 'Оценочные средства (ФОС)'</a></li>
                                </ul>
                            </div>

                            <div th:if="${insDto.rpdPackageFound==false}" class="btn-group col-sm-6">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">Не найдена директория с документами РПД
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" href="#">Не найдена директория с документами РПД, директория должна называться 'Рабочие программы дисциплин''</a></li>
                                </ul>
                            </div>

                            <div th:if="${insDto.syllabusFound==false}" class="btn-group col-sm-6">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">Учебный план не найден
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" href="#">Не найден документ с учебным планом</a></li>
                                </ul>
                            </div>

                            <div th:if="${insDto.syllabusInRightExtension==false && insDto.syllabusFound==true}" class="btn-group col-sm-6">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">Формат учебного плана
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" href="#">Учебный план должен быть в формате xls/xlsx</a></li>
                                </ul>
                            </div>

                            <div th:if="${insDto.fosInWrongFormat.isEmpty()==false}"  class="btn-group col-sm-6">
                                <button th:text="'Название документов ФОС (' + ${insDto.fosInWrongFormat.size()}+' )'" type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <div th:each="errorText: ${insDto.fosInWrongFormat}">
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a th:text="${errorText}" class="dropdown-item" href="#" style="text-wrap: pretty;"></a></li>
                                    </div>
                                </ul>
                            </div>
                            <div th:if="${insDto.rpdInWrongFormat.isEmpty()==false}" class="btn-group col-sm-6">
                                <button th:text="'Название документов РПД (' + ${insDto.rpdInWrongFormat.size()}+' )'" type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <div th:each="errorText: ${insDto.rpdInWrongFormat}">
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a th:text="${errorText}" class="dropdown-item" href="#" style="text-wrap: pretty;"></a></li>
                                    </div>
                                </ul>
                            </div>
                            <div th:if="${insDto.unknownDocuments.isEmpty()==false}" class="btn-group col-sm-6">
                                <button th:text="'Неизвестные документы (' + ${insDto.unknownDocuments.size()}+' )'" type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <div th:each="errorText: ${insDto.unknownDocuments}">
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a th:text="${errorText}" class="dropdown-item" href="#" style="text-wrap: pretty;"></a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>


                    <div th:if="${insDto.isOk==false && insDto.isValid==true}" class="btn-group-vertical">
                        <div th:if="${insDto.characteristicErrors.isEmpty==false}" class="btn-group col-sm-6">
                            <button th:utext="'Ошибки в характеристике (' + ${insDto.characteristicErrors.size()} + ')'" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" style="">
                                <div th:each="errorText: ${insDto.characteristicErrors}">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a th:utext="${errorText}" class="dropdown-item" href="#" style="text-wrap: pretty;"></a></li>
                                </div>
                            </ul>
                        </div>
                        <div th:if="${insDto.fosErrors.isEmpty==false}" class="btn-group col-sm-6">
                            <button th:text="'Ошибки в ФОС ('+ ${insDto.fosErrors.size()} + ')'" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" style="">
                                <div th:each="errorText: ${insDto.fosErrors}">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a th:utext="${errorText}" class="dropdown-item" href="#" style="text-wrap: pretty;"></a></li>
                                </div>
                            </ul>
                        </div>
                        <div class="btn-group col-sm-6">
                            <button th:text="'Ошибки в РПД ('+ ${insDto.rpdErrors.size()} + ')'" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" style="">
                                <div th:each="errorText: ${insDto.rpdErrors}">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a th:utext="${errorText}" class="dropdown-item" href="#" style="text-wrap: pretty;"></a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
